<div class="row">

    <div class="col-md-4">
        <h3>Seleccione Archivos</h3>

        <div appNgDropFiles (mouseSobre)="pruebaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento }" class="well drop-zone ">
            <h4>Deje caer aquí los archivos</h4>
            <img src="assets/drop-images.png">
        </div>

    </div>

    <div class="col-md-8">
        <h4> Cargar Archivo </h4>
        <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar a Fire Base </button>
        <button class="btn btn-danger">Limpiar </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SS</td>
                    <td>12M</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"></div>
                        </div>

                    </td>

                </tr>
            </tbody>

        </table>

    </div>
</div>